/* layout */
.global-header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* inner */
.inner {
  width: 1280px;
  margin: 0 auto;
}

/* global-header */
/* top-bar */
.global-header .top-bar {
  background-color: #033075;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.global-header .top-bar .top-bar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
}

.global-header .top-bar .left-section {
  display: flex;
}
.global-header .top-bar .left-section .lang-toggle {
  position: relative;
  padding-right: 20px;
}
.global-header .top-bar .left-section .lang-toggle:after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #6d88b4;
}
.global-header .top-bar .left-section .lang-toggle .lang-btn {
  position: relative;
  padding-right: 13px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.global-header .top-bar .left-section .lang-toggle .lang-btn:hover {
  text-decoration: underline;
}
.global-header .top-bar .left-section .lang-toggle .lang-btn::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 5px;
  background: url('../assets/img/ico_arrow_bottom.png') center center;
}
.global-header .top-bar .left-section .lang-toggle .lang-content {
  display: none;
}
.global-header .top-bar .left-section a {
  padding: 2px 20px;
}
.global-header .top-bar .left-section a:hover {
  text-decoration: underline;
}

.global-header .top-bar .right-section {
  display: flex;
}
.global-header .top-bar .right-section .link-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.global-header .top-bar .right-section .link-group li:not(:last-child) {
  position: relative;
  padding-right: 11px;
  margin-right: 11px;
}
.global-header .top-bar .right-section .link-group li:not(:last-child):after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #6d88b4;
}
.global-header .top-bar .right-section .link-group li:last-child {
  margin-right: 10px;
}
.global-header .top-bar .right-section .link-group li a {
  padding: 4px;
}
.global-header .top-bar .right-section .link-group li a:hover {
  text-decoration: underline;
}
.global-header .top-bar .right-section .zoom-btn {
  display: flex;
}
.global-header .top-bar .right-section .zoom-btn button {
  width: 18px;
  height: 18px;
  background: url('../assets/img/ico-zoom-btn.png');
}
.global-header .top-bar .right-section .zoom-btn .minus-btn {
  background-position: 0 18px;
}
.global-header .top-bar .right-section .zoom-btn .txt {
  padding: 0 10px;
  background-color: #5379a9;
}
.global-header .top-bar .right-section .zoom-btn .plus-btn {
  background-position: 18px 0;
}
/* main-header */
.main-header {
  background-color: #fff;
}
.main-header .main-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.main-header .side-menu-btn button {
  width: 80px;
  height: 80px;
  background: url('../assets/img/ico-menu.svg') center center no-repeat;
}
.main-header .mypage-btn a {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: url('../assets/img/ico-mygov.svg') center center no-repeat;
  background-size: contain;
}
.main-header .gnb .gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .gnb .gnb-list .gnb-item {
  margin-right: 44px;
}
.main-header .gnb .gnb-list .gnb-item h3 a {
  padding: 19px 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 21px;
}
.main-header .gnb .gnb-list .gnb-item h3 a:hover {
  color: #076ee3;
  border-bottom: 5px solid #076ee3;
}
.main-header .guide-link a {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #eb193a;
  border-radius: 20px;
}
.main-header .guide-link a::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  background: url('../assets/img/ico-guide.png');
}
.main-header .guide-link a::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url('../assets/img/ico-myset.png') -110px -66px;
}
.main-header .guide-link a:hover {
  text-decoration: underline;
}

/* media query */
@media (max-width: 1280px) {
  .inner {
    width: 100%;
  }
}
@media (max-width: 1262px) {
  .global-header {
    box-shadow: none;
    border-bottom: 1px solid #cdd6e3;
  }
  .global-header .main-header-wrap {
    height: 80px;
  }
  .global-header .main-header .main-logo img {
    height: 48px;
  }
}
